
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-home {
    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.banner-home img {
    width: 100%;
    height: auto;
}

.banner-texts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.banner-texts h1 {
    font-size: 3em;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    transition: color 0.5s ease, text-decoration 0.3s ease;
}

.banner-texts h1:hover {
    color: yellow;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}


ul {
    list-style-type: none;
    padding: 0;
}


li {
    background: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.botonEliminar {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}


.botonEliminar:hover {
    background: #d43f3f;
}
